.first {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke; }
  .first .firstLogo {
    width: 260px;
    width: 260px;
    animation-name: rotar;
    animation-duration: 4s;
    animation-delay: 3s; }

@keyframes rotar {
  from {
    transform: rotate(0); }
  to {
    border-radius: 60%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #80a2cb;
    transform: rotate(360deg);
    -webkit-box-shadow: 0px 0px 15px 15px #8c8cbe; } }
  .first .logoface,
  .first .logoinsta {
    animation-name: logis;
    animation-direction: normal;
    animation-duration: 6.8s;
    animation-delay: 0.3s; }

@keyframes logis {
  from {
    opacity: 0;
    transform-style: flat; }
  to {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
  .first .buscar {
    margin-top: 60px;
    margin-right: 10px; }
  .first .frase {
    font-size: 22px;
    color: #9136e7;
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
  .first .animaciones .slogan {
    animation-name: efecto;
    animation-duration: 10s;
    animation-direction: alternate; }

@keyframes efecto {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.second {
  width: 100%;
  height: 40px;
  padding: 5px;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px; }

.menu li a {
  text-decoration: none; }

.nav__item--oculto {
  display: none; }

.nav__enlace:hover {
  color: #1b0cec;
  font-size: 25px; }

.header__abrir {
  display: none; }

.contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contact .ubicacion {
    width: 50%;
    height: 600px;
    justify-content: space-between;
    padding: 40px;
    margin: 40px 20px;
    background-color: whitesmoke;
    align-items: center; }
  .contact .detalleContacto {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 30%;
    height: 400px;
    padding: 40px;
    margin: 40px 40px;
    font-size: 20px; }

.piepagina {
  display: flex;
  align-items: center; }

.logoPie {
  width: 260px; }

.menuPie .menu2 {
  list-style-type: none;
  padding: 20px;
  gap: 2rem; }

.menu2 li a {
  text-decoration: none; }

.pie1 {
  width: 35%;
  height: 600px;
  justify-content: space-between;
  padding: 40px;
  margin: 40px 20px;
  background-color: whitesmoke;
  align-items: center; }

.pie2 {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 50%;
  height: 600px;
  padding: 40px;
  margin: 40px;
  font-size: 20px; }

.hero {
  display: flex;
  align-items: center;
  min-height: 600px;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto; }
  .hero .hero__1,
  .hero .hero__2 {
    width: 100%; }
  .hero .hero__2 {
    display: flex;
    justify-content: center; }
  .hero .hero__2 img {
    width: 420px; }
  .hero .hero__1 .subtitulo {
    margin: 10px; }
  .hero .textoBlog {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    justify-content: center; }

h1.title {
  font-size: 40px;
  margin: 10px; }

article.textoEmpresa {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  justify-content: center; }

.principal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh; }
  .principal .top {
    width: 50%;
    height: 700px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ele1 ele2" "ele3 ele4";
    padding: 30px;
    margin: 30px;
    background-color: whitesmoke;
    position: relative;
    gap: 1.5rem;
    overflow: hidden; }
    .principal .top .top img {
      width: 250px;
      max-height: 250px;
      justify-content: space-evenly;
      padding: 10px;
      margin-left: 30px; }
    .principal .top .ele1 {
      grid-area: ele1; }
    .principal .top .ele2 {
      grid-area: ele2; }
    .principal .top .ele3 {
      grid-area: ele3; }
    .principal .top .ele4 {
      grid-area: ele4; }
    .principal .top img:hover {
      zoom: 110%;
      filter: opacity(0.5); }
    .principal .top .titulo1 {
      position: absolute;
      left: 70px;
      margin-top: auto; }
    .principal .top .titulo1 a {
      text-decoration: none; }
    .principal .top .titulo1 a:hover {
      font-size: 35px;
      font-family: "Roboto", sans-serif;
      color: #1b0cec; }
  .principal .complementarios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ele5" "ele6";
    width: 35%;
    height: 700px;
    padding: 10px;
    margin: 30px;
    position: relative;
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke; }
    .principal .complementarios .titulo2 a,
    .principal .complementarios .titulo3 a {
      text-decoration: none; }
    .principal .complementarios .titulo2 a:hover,
    .principal .complementarios .titulo3 a:hover {
      font-size: 35px;
      color: #1b0cec; }
    .principal .complementarios .masVendidos {
      width: 70%;
      height: 250px;
      justify-content: center;
      padding: 10px;
      margin-left: 30px; }
    .principal .complementarios .ele5 {
      grid-area: ele5; }
    .principal .complementarios .ele6 {
      grid-area: ele6;
      width: 150px; }
    .principal .complementarios img:hover {
      zoom: 110%;
      filter: opacity(0.5); }
    .principal .complementarios .offers {
      width: 70%;
      height: 250px;
      justify-content: center;
      padding: 10px;
      margin-left: 30px; }
    .principal .complementarios .complementarios.titulo2 {
      position: absolute; }
    .principal .complementarios .offers.titulo3 {
      position: absolute; }

@media screen and (max-width: 600px) {
  .encabezado {
    width: 100%;
    align-content: space-between; }
    .encabezado .first {
      width: 100%; }
      .encabezado .first .frase {
        display: none; }
      .encabezado .first .firstLogo {
        width: 130px; }
      .encabezado .first .logosfi {
        align-content: space-around;
        width: 30%; }
        .encabezado .first .logosfi .logoinsta {
          width: 20px; }
        .encabezado .first .logosfi .logoface {
          width: 20px; }
        .encabezado .first .logosfi .buscar {
          width: 120px;
          left: 30px;
          display: none; }
    .encabezado .second .header__abrir {
      text-decoration: none;
      display: block; }
    .encabezado .second .menu {
      display: none; }
    .encabezado .second #sidebar:target {
      display: block; }
    .encabezado .second .header__icono {
      display: block;
      font-size: 25px; }
    .encabezado .second #sidebar {
      background-color: silver;
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      width: 85%;
      height: 70vh;
      max-width: 400px;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding: 15px; }
    .encabezado .second .nav__lista .nav__enlace {
      font-size: 12px;
      color: #1a1b1b; }
    .encabezado .second .nav__lista .nav__enlace:hover {
      font-size: 14px;
      color: blue; }
    .encabezado .second .nav__item--oculto {
      display: block; }
  .principal {
    width: auto;
    height: 1700px;
    align-items: center;
    margin-top: 0 auto; }
    .principal .top {
      display: grid;
      width: 260px;
      height: 1200px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "ele1" "ele2" "ele3" "ele4";
      align-items: center;
      align-content: center;
      padding-top: 0;
      margin: 0; }
      .principal .top .titulo1 {
        font-size: 18px; }
      .principal .top .ele1,
      .principal .top .ele2,
      .principal .top .ele3,
      .principal .top .ele4 {
        width: 65%; }
    .principal .complementarios {
      height: 650px;
      width: auto;
      margin: 0;
      align-items: center;
      display: grid;
      align-content: center;
      padding: 0;
      margin-top: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "ele5" "ele6";
      align-items: flex-start; }
      .principal .complementarios .titulo2,
      .principal .complementarios .titulo3 {
        font-size: 18px; }
      .principal .complementarios .masVendidos {
        padding: 0;
        margin-left: 0;
        width: 250px;
        display: none; }
      .principal .complementarios .offers {
        margin: 0;
        padding: 0; }
  .piepagina {
    width: auto;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse; }
    .piepagina .pie1 {
      width: 100%; }
    .piepagina .pie2 {
      width: 100%; }
    .piepagina .logoPie img {
      width: 150px; }
    .piepagina .logosfiPie img {
      width: 20px; }
    .piepagina #pieempresa .piepagina {
      flex-direction: column; }
    .piepagina #textoempresa {
      width: 100%; }
    .piepagina article.textoEmpresa {
      font-size: 15px; }
    .piepagina h1.title {
      font-size: 25px; }
    .piepagina .hero {
      flex-direction: column; }
    .piepagina .hero__1,
    .piepagina .hero__2 {
      width: 100%;
      margin: 10px; }
    .piepagina .hero__1 .subtitulo {
      font-size: 20px; }
    .piepagina .textoBlog {
      font-size: 15px; }
    .piepagina .hero__2 img {
      width: 200px; } }

@media screen and (max-width: 1024px) {
  .first .frase {
    display: none; }
  .second .header__abrir {
    display: none; }
  .second .menu {
    font-size: 18px; }
  .second .nav__item--oculto {
    display: none; }
  .principal {
    width: 100%; }
    .principal .top {
      width: 100%; }
    .principal .complementarios {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: 50vh; }
      .principal .complementarios .masVendidos {
        width: 300px;
        margin: 0;
        padding: 0; }
        .principal .complementarios .masVendidos .ele5 {
          width: 200px; }
        .principal .complementarios .masVendidos .offers {
          width: 1fr; }
  .contact .ubicacion {
    display: none; }
  .contact .detalleContacto {
    display: none; }
  .piepagina .logoPie img {
    width: 180px;
    display: block; }
  .piepagina .logosfiPie img {
    width: 20px; }
  .hero {
    flex-direction: column; }
  .hero__1,
  .hero__2 {
    width: 100%; }
  .hero__1 .subtitulo {
    font-size: 25px;
    margin: 10px; }
  .textoBlog {
    font-size: 20px;
    margin: 10px; } }

.titleTemplate, .hero .hero__1 .subtitulo, .principal .top .titulo1, .principal .complementarios .titulo2,
.principal .complementarios .titulo3 {
  font-size: 30px;
  color: #2c58c9; }
