@mixin cardContainer($justifyContent) {
  width: 70%;
  height: 250px;
  justify-content: $justifyContent;
  padding: 10px;
  margin-left: 30px;
}
.principal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;

  .top {
    width: 50%;
    height: 700px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "ele1 ele2"
      "ele3 ele4";
    padding: 30px;
    margin: 30px;
    background-color: $bgColor;
    position: relative;
    gap: 1.5rem;
    overflow: hidden;

    .top img {
      width: 250px;
      max-height: 250px;
      justify-content: space-evenly;
      padding: 10px;
      margin-left: 30px;
    }

    .ele1 {
      grid-area: ele1;
    }
    .ele2 {
      grid-area: ele2;
    }
    .ele3 {
      grid-area: ele3;
    }
    .ele4 {
      grid-area: ele4;
    }
    img:hover {
      zoom: 110%;
      filter: opacity(0.5);
    }

    .titulo1 {
      position: absolute;
      left: 70px;
      margin-top: auto;
      @extend .titleTemplate;
    }
    .titulo1 a {
      text-decoration: none;
    }
    .titulo1 a:hover {
      font-size: 35px;
      font-family: "Roboto", sans-serif;
      color: rgb(27, 12, 236);
    }
  }

  .complementarios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "ele5"
      "ele6";
    width: 35%;
    height: 700px;
    padding: 10px;
    margin: 30px;
    position: relative;
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    background-color: $bgColor;
    .titulo2,
    .titulo3 {
      @extend .titleTemplate;
    }

    .titulo2 a,
    .titulo3 a {
      text-decoration: none;
    }

    .titulo2 a:hover,
    .titulo3 a:hover {
      font-size: 35px;
      color: rgb(27, 12, 236);
    }

    .masVendidos {
      @include cardContainer(center);
    }
    .ele5 {
      grid-area: ele5;
    }
    .ele6 {
      grid-area: ele6;
      width: 150px;
    }
    img:hover {
      zoom: 110%;
      filter: opacity(0.5);
    }

    .offers {
      @include cardContainer(center);
    }

    .complementarios.titulo2 {
      position: absolute;
    }
    .offers.titulo3 {
      position: absolute;
    }
  }
}
