@media screen and (max-width: 600px) {
  .encabezado {
    width: 100%;
    align-content: space-between;
  
     .first {
      width: 100%;
    
      .frase {      display: none;     }
        
      
     
    
      .firstLogo {       width: 130px;
       }
      .logosfi {
        align-content: space-around;
        width: 30%;
           .logoinsta {
         width: 20px;    }
      .logoface {
         width: 20px;
     }
      .buscar {
        width: 120px;
        left: 30px;
         display: none;
      }
     }
     }
     
  
  
  .second{
    .header__abrir {
      text-decoration: none;
      display: block;
    }
  
  .menu {
    display: none;
  }
  #sidebar:target {
    display: block;
  }
  .header__icono {
    display: block;
    font-size: 25px;
  }
   #sidebar {
    background-color: rgb(192, 192, 192);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 85%;
    height: 70vh;
    max-width: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
  }

  .nav__lista .nav__enlace {
    font-size: 12px;
    color: rgb(26, 27, 27);
  }
  .nav__lista .nav__enlace:hover {
    font-size: 14px;
    color: blue;
  }
  .nav__item--oculto {
    display: block;
  }
}
  }
}